@charset "UTF-8";

* {
	box-sizing: border-box;
}

body {
	padding: 0;
	margin-bottom: 50px !important;
	margin: 0;
}

a {
	text-decoration: none;
	cursor: pointer;
	color: #212121;
}

select {
	cursor: pointer;
}

li {
	font-size: 11px;
	font-weight: normal;
	list-style: none;
}

/* 테두리 겹치는 것 없애기 */
table {
	border-spacing: 0;
	border-collapse: collapse;
}

body, h1, h2, h3, h4, h5, h6, div, p, span, strong, em, blockquote, pre,
	address, ul, ol, li, dl, dt, dd, table, th, td, form, fieldset, input,
	select, label, textarea, img, a {
	margin: 0;
	padding: 0;
	/*    border: 0px;*/
	word-break: break-all;
	word-wrap: break-word;
}

img, input, select, textarea {
/* 	border: 0; */
/* 	vertical-align: top; */
/* 	color: #666; */
/* 	font-family: 'notokr-medium', '돋움', Dotum, tahoma, sans-serif; */
}

input[type="text"], input[type="password"], input[type="date"] {
	padding: 6px 8px 6px 12px;
	border: 1px solid #e1e1e1;
	border-radius: 0;
	font-size: 13px;
	color: #717171;
	line-height: 17px;
	font-family: 'notokr-medium', '돋움', Dotum, tahoma, sans-serif;
}

.ib {
	display: inline-block;
}

.icon {
	background-image: url(../img/sprite.png);
	display: inline-block;
	margin-left: -2px;
	margin-right: -2px;
	vertical-align: middle;
	/* 	이런식으로 사용 */
	/* 	background-position: -113px -231px; */
	/*  width: 35px; */
	/*  height: 8px; */
}

/*임시*/
/*
div { 
    border: 1px solid black;
}
*/

/*title*/
#titleWrapper {
	margin: 0 auto;
	background-color: #fff;
	z-index: 10;
	box-shadow: 0px 2px 7px 5px #9e9e9e42;
	position: sticky;
	top: 0px;
}

#titleHeader {
	max-width: 980px;
	padding-top: 43px;
	margin: 0 auto;
}

#titleContainer {
	position: relative;
	/*    height: 50px;*/
}

#titleTop a {
	text-align: center;
	font-size: 14px;
	padding: 15px 20px 7px;
	border: 1px solid #13518b;
	border-radius: 0 0 20px 20px;
	border-top: none;
	font-weight: bold;
	position: absolute;
	color: #13518b;
	top: -52px
}

#titleTop a:last-child {
	right: 0;
	border-color: #e93c3e;
	color: #e93c3e;
}

.headLogo {
	display: inline-block;
}

.titleLeft {
	display: inline-block;
	background-image: url(../img/sprite.png);
	position: relative;
}

.titleLeft {
	width: 230px;
	height: 71px;
	margin-bottom: 5px;
}

.titleRight {
	display: inline-block;
	height: 71px;
	vertical-align: top;
}

.titleRight ul li {
	display: inline-block;
}

.titleNavi {
	line-height: 15px;
}

.titleNavi a {
	text-align: center;
	text-decoration: none;
	font-size: 12px;
	color: #717171;
	font-family: notokr-medium;
	font-weight: 600;
	line-height: 14px;
}

.titleNavi li {
	border-left: 1px solid;
	text-align: center;
	padding-left: 6px;
	height: 14px;
	line-height: 10px;
	vertical-align: top;
}

.titleNavi li:first-child {
	border-left: none;
}

.titleRight>div>div {
	float: right;
}

.titleMenu {
	clear: both;
	margin-top: 30px;
}

.titleMenu a {
	font-size: 18px;
	font-family: notokr-medium;
	font-weight: 600;
	color: #000;
	padding-bottom: 5px;
	margin-left: 10px;
}

/* notify.jsp */
.snbVisual {
	background: url(../img/bg_subVisual2_nt.jpg) right 26% top no-repeat;
	position: relative;
	height: 120px;
	margin-bottom: 42px;
}

.textArea {
	max-width: 980px;
	margin: 0 auto;
}

.visualText {
	width: 500px;
	padding-top: 29px;
}

.visualText h1 {
	font-size: 25px;
	font-weight: normal;
	color: #fff;
}

.visualText p {
	color: #fff;
	font-size: 12px;
}

#bottomWrap {
	max-width: 980px;
	margin: 0 auto;
}

.iconHome {
	background-position: -572px -473px;
	width: 11px;
	height: 11px;
	background-image: url(../img/sprite.png);
	position: relative;
	display: inline-block;
	content: '';
	top: 1px;
}

.menu a {
	font-size: 12px;
}

.menu a:nth-child(4) {
	font-weight: bold;
}

.bottomTitle {
	padding-top: 22px;
	padding-bottom: 16px;
	border-bottom: 1px solid #e8e8e8;
	margin-bottom: 16px;
}

.imgBottom {
	background-image: url(../img/youth_recurite.png);
	height: 307px;
	text-align: center;
	padding-top: 1px;
}

.bgLeft {
	position: absolute;
	top: 0;
	width: 50%;
	height: 120px;
	z-index: -1;
	left: 0;
	background: #3a74a4;
}

.bgRight {
	position: absolute;
	top: 0;
	width: 50%;
	height: 120px;
	z-index: -1;
	right: 0;
	background: #569ec5;
}

.bottomTitle h1 {
	display: inline-block;
	font-size: 30px;
}

.imgBottom h1 ~ b {
	color: #004070;
	text-align: center;
	font-size: 20px;
	margin-top: 20px;
}

.imgBottom p {
	color: #a9310c;
	font-size: 17px;
	margin-top: 20px;
}

.listSearchBox {
	clear: both;
	margin-top: 30px;
	height: 59px;
	padding: 14px 0 0 55px;
	border: 1px solid #eceeef;
	background-color: #f3f5f6;
}

.listSearchBox * {
	vertical-align: middle;
}

.listSearchBox select {
	width: 155px;
}

.listSearchBox input[type=text] {
	width: 330px;
	margin-right: 8px;
}

.listSearchBox label {
	font-size: 14px;
	color: #252525;
	line-height: 32px;
	font-family: notokr-bold;
	font-weight: 600;
	cursor: pointer;
}

.select {
	height: 32px;
	padding: 3px 35px 3px 12px;
	border: 0;
	border-radius: 0;
	background: #fff url(../img/icoSelectBtn.gif) right 0 no-repeat;
	font-size: 13px;
	color: #717171;
	line-height: 1;
	white-space: nowrap;
	-webkit-appearance: none;
	-ms-appearance: none;
	appearance: none;
}

.cd {
	font-weight: 400 !important;
}

#boardMenu {
	margin-top: 35px;
}

#totalCount {
	color: #e66716;
}

#boardMenu p {
	float: left;
	margin: 5px 10px 0 0;
	font-size: 13px;
	line-height: 14px;
	color: #424242;
}

#boardMenu #pg3 {
	margin-left: 400px;
}

#board {
	max-width: 980px;
	overflow: hidden;
	margin-top: 30px;
}

.content {
	width: 1049px;
	overflow: hidden;
}

.list li {
	float: left;
	width: 212px;
	margin-right: 44px;
	margin-bottom: 30px;
	height: 230px;
	overflow: hidden;
}
/* .list li:nth-child(4n+0) { */
/* 	margin-right: 0; */
/* } */
.list li p {
	overflow: hidden;
	max-height: 40px;
	margin: 8px 0 0px;
	color: #212121;
	line-height: 20px;
	font-family: notokr-medium;
	font-size: 12px;
	color: #656363;
	margin-top: 0px;
}

.list li a {
	display: block;
	position: relative;
}

.list li img {
	overflow: hidden;
	width: 212px;
	height: 158px;
}

.paging {
	margin-top: 35px;
	text-align: center;
}

.inbox {
	display: inline-block;
}

.paging a {
	display: block;
	float: left;
	width: 33px;
	margin-left: -1px;
	padding: 6px 0;
	border: 1px solid #e6e6e6;
	font-size: 14px;
	color: #717171;
	text-align: center;
}

.current {
	background-color: #f3f4f6;
	font-weight: bold;
	color: #212121;
}

#writeWrap {
	max-width: 980px;
	margin: 0 auto;
}



.board_view input {
	width: 450px;
}

.board_view .td1 {
	width: 150px;
}

#frm {
	width: 600px;
	margin: 0 auto;
}
.visual {
	display: none;
}

@media screen and (max-width: 740px) {
	div.menuicon {
		width: 21px;
		height: 3px;
		background-color: black;
		margin: 3px 0;
	}
	div.micon {
		display: inline;
		margin : 5px;
		position: absolute;
		cursor: pointer;
	}
	
	.titleRight {
		display: none !important;
	}
}

@media screen and (max-width: 1000px) {
		.textArea {
		display: none;
	}
		#titleHeader {
		/* max-width: 980px; */
		padding-top: 0px;
		/* margin: 0 auto; */
	}
	.titleRight {
		display: block;
	}
	.titleLeft {
		display: block;
		width: 230px;
		height: 71px;
		margin: 0 auto;
		margin-bottom: 5px;
	}
	.headLogo {
		display: block;
		padding: 10px;
	}
	#boardMenu #pg3 {
		margin-left: 0;
	}
}

@media screen and (max-width: 600px) {
	.hide {
		display: none !important;
	}
	.listSearchBox {
		padding: 6px;
		height: inherit;
		margin-top: 5px;
		min-width: 360px;
	}
	.listSearchBox select {
		width: 27%;
		height: 23px;
	}
	.listSearchBox input[type=text] {
		width: 59%;
		height: 26px;
		line-height: 26px;
	}

	.list li {
		width: 340px;
/* 		margin: 0 auto; */
		margin-bottom: 5px;
		height: inherit; 
    overflow: inherit;
	}
	.list li img {
		width: 340px;
		height: 267px;
/* 		margin: 0 auto; */
		display: inline-block;
	}
.snbVisual {
    /* position: inherit; */
    height: 77px;
    background-size: 1000px;
    margin-bottom: 0px;
}

	#titleWrapper {
		position: inherit;
	}
	.bottomTitle {
		padding: 0;
		margin: 0;
		text-align: center;
	}
	.bottomTitle h1 {
		font-size: 22px;
	}
	.imgBottom {
		background: url(../img/youth_recurite.png) no-repeat;
		height: 112px;
		background-size: 100%;
		width: 343px;
		margin: 10px auto;
	}
	.imgBottom h1 {
    font-size: 18px !important;
    margin: 10px 5px 5px !important;
	}
	
	.imgBottom h1 ~ b {
    color: #004070;
    text-align: center;
    font-size: 11px;
		margin-top: 20px;
	}
	#board {
		margin-top: 10px;
	}
	#boardMenu {
    text-align: right;
    width: 360px;
    margin: 10px auto 0 auto;
	}
	
	.content {
		max-width: 340px;
		display: block;
		margin: 0 auto;
	}
	
	.content * {
		float: none;
	}
	.board_view input {
    width: 279px;
}
#frm {
    width: 360px;
}
}